@model SingleStatsModel
@{
    ViewData["Title"] = "Tekli İstatistikler";
    Layout = "_AdminLteLayout";
}

<p>Toplam sezon Sayısı:@Model.NumberOfSeasons</p>
<p>Toplam oyun Sayısı:@Model.NumberOfGames</p>
<p>Toplam Puan:</p>
<p>Toplam Kazanç:</p>

